<h1>Listing email_addresses</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Unique</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_addresses.each do |email_address| %>
  <tr>
    <td><%= email_address.email %></td>
    <td><%= email_address.unique %></td>
    <td><%= link_to 'Show', email_address %></td>
    <td><%= link_to 'Edit', edit_email_address_path(email_address) %></td>
    <td><%= link_to 'Destroy', email_address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @email_addresses %>

<br />

<%= link_to 'New Email address', new_email_address_path %>
